/* MODIFICHE PADDING E MARGIN CONTAINER-FLUID e row */

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

/* impostazioni sfondi e centratura header e footer */
.sfondo-blu {
  background-color: rgb(44, 62, 80);
}

#sfondo-grey {
  background-color: rgb(58, 84, 109);
}

.sfondo_verde {
  background-color: rgb(26, 188, 156);
}

/* header */
#home_ .navbar-default{
  background-color: rgb(58, 84, 109);
  border-radius: 0;
  border: none;
  margin-bottom: 0px;
  color: white;
  padding-left: 50px;
}

#home_ .navbar-header {
  margin-left: 15px;
  margin-right: 0;
  color: white;
}

#home_ .navbar-default .navbar-brand {
  color: white;
}

#home_ .navbar-default .navbar-nav>li>a {
  color: white;
}

/* sezione start */

/* specifiche hr */
.bordo_ {
  text-align: center;
  width: 10%;
  display: inline-block;
  border:2px solid black;
}

.bianco {
  border: 2px solid white;
}
/* fine specifiche hr */

.start_ {
  color: white;
  text-align: center;
  padding: 20px 0;
}

.start_ > img {
  height: 150px;
}

/* sezione img */
.img_text {
  text-align: center;
}

.img_ {
  text-align: center;
}

.img_ > img {
  width: 400px;
  height: 292px;
}

/* about */

.start {
  text-align: center;
  color: white;
}

.ptext {
  color: white;
}

/* bottone download */
.bottone {
  margin: 20px;
  text-align: center;
}

.bottone .btn-default {
  background-color: rgb(26, 188, 156);
  border: 1px solid white;
  color: white;
}

/* form */

#contatti {
  text-align: center;
}

#form_contatti .form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

#form_contatti .btn {
  margin-top: 10px 0;
}

/* bottono send */
.bottone2 {
  margin: 20px;
}

.bottone2 .btn-default {
  background-color: rgb(26, 188, 156);
  border: 1px solid white;
  color: white;
}

/* footer */
footer {
  color: white;
  text-align: center;
}

/* sezione superiore */
.info_ {
  padding: 20px 0;
}

.info_ span {
  display: block;
  font-size: 15px;
}

.info_ p {
  display: inline-block;
  font-size: 15px;
}

a[href="#start"] {
  text-decoration: none;
  color: rgb(34, 161, 143);
}

.fa {
  color: white;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid white;
}

/* sezione inferiore */
#Copyright_ {
  display: block;
  margin: 20px 0;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .sotto {
    margin-bottom: 30px;
  }
}

/* large */
@media only screen and (min-width : 1200px) {

  .img_ > img {
    width: 200px;
    height: 200px;
  }

  .sopra {
  margin-bottom: 10px;
  }

  .sotto {
  margin-bottom: 30px;
  }
}
